extends ./layouts/main.jade

block content
  .container
    a#logo(href='http://www.icndb.com/'): img(src="images/icndb_logo.png")
    h1.cf These are the facts:

    p#quote
    
    .another-one
      button#generate.btn(type="button") Another one!
      
    #tweetIt.cf
      // We don't need to create a button here, since it's created by a "Factory Button" in script.js
    img#chuck(src='images/chuck.png')
    
    script.
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
